*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1350px;
    border: 1px solid;
    margin: 0 auto;
    position: relative;
}

.cont2{
    height: 900px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 999;
}

nav div{
    text-align: center;
    display: flex;
    gap: 35px;
}

nav div p{
    font-size: 17px;
    font-weight: 500;
    color: #101c02b3;
    margin-top: 12px;
    transition: 0.6s;
    text-align: center;
}

nav div p:hover{
    color: #b4be1f;
    transition: 0.6s;
}

nav img{
    z-index: 999;
}

.nav__boxs{
    display: flex;
    gap: 55px;
}

nav div button{
    padding: 15px 20px;
    border: none;
    border: 1px solid;
}

.box{
    width: 45%;
    border: 1px solid;
}

.box__img{
    position: absolute;
    top: 0;
    background-image: url(../img/bgimg.png);
}